<% include partials/header %>
<div class="container mt-5" style="text-align:center;">
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>Numquam quas distinctio natus ab dicta temporibus,quam omnis eius,<br> unde quia tempore qui voluptates in animi, quidem culpa ex dolorum odit.</p>
</div>
<% include partials/footer %>